

<p>The api provides question data from the db, called 'clues'.</p>

<p>Get 1000 random  clues:</p>
<a href="/api/clues/">/api/clues/</a>

<!--<br/><br/>-->

<!--<p>Random clues:</p>-->
<!--<a href="/api/clues/r/5">/api/clues/r/5</a>-->

<!--<br/><br/>-->

<!--<p>A single clue by {id}:</p>-->
<!--/api/clues/{id}-->





