

<h3>API Examples</h3>
<br/>
<p>
    1000 random clues: <a href="/api/clues">/api/clues</a>
</p>

<p>
    20 random categories: <a href="/api/cats">/api/cats</a>
</p>

<p>
    clues by category: <a href="/api/clues/cat/1">/api/clues/cat/1</a>
</p>







