
<div id="cats-view">
    <div style="text-align:right">
        category filter
        <input type="text" id="searchText" />
    </div>
    </br>

    <!-- Template container -->
    <div id="cats-list" class="btn-group cats-list" role="group" aria-label="Categories"></div>

</div>

<script id="catTemplate" type="text/template">
    <a class="btn btn-default" href="" role="button"><%= category_name %></a>
</script>

<script src="/js/models/cat.js"></script>
<script src="/js/collections/cats.js"></script>
<script src="/js/views/cat_view.js"></script>
<script src="/js/views/cats_view.js"></script>
<script src="/js/views/cats_view.js"></script>
<script>

    $(function() {
        new app.CatsView();
    });
</script>


