

cats

<!--<div id="cats-view">-->
    <!--<div style="text-align:right">-->
        <!--category filter-->
        <!--<input type="text" id="searchText" />-->
    <!--</div>-->
    <!--</br>-->
    <!--<div id="cats-list" class="list-group"></div>-->
<!--</div>-->

<!--<script id="catTemplate" type="text/template">-->
    <!--<div class="list-group-item">-->
        <!--<%= category_name %><-->
    <!--</div>-->
<!--</script>-->

<!--<script src="/js/models/clue.js"></script>-->
<!--<script src="/js/collections/clues.js"></script>-->
<!--<script src="/js/views/clue.js"></script>-->
<!--<script src="/js/views/clues.js"></script>-->
<!--<script src="/js/app.js"></script>-->


